<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../src/output.css">
</head>
<body>
    <div class="w-full h-[100vh] bg-white flex items-center justify-center">
        <div 
            class="w-fit flex gap-3">

            <!-- card 1 -->
            <div 
                class="w-[300px] h-[400px] flex flex-col items-center justify-center gap-6 rounded-md border-[1px] border-gray-200 bg-gray-50 group transition-all ease-in-out duration-300 hover:scale-110 hover:shadow-lg">
                <div 
                    class="w-[180px] h-[180px] rounded-full bg-gray-200 overflow-hidden">
                    <img 
                        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlciUyMHByb2ZpbGV8ZW58MHx8MHx8fDA%3D" 
                        alt="user profile"
                        class="w-full h-full object-cover">
                </div>
                <div 
                    class="flex flex-col items-center justify-center">
                    <h3
                        class="font-semibold text-[1.2rem] capitalize">Minh Panhchna </h3>
                    <p
                        class="text-[.8rem] text-gray-400">Sale Manager</p>
                </div>
                <button
                    class="px-8 py-2 rounded-md border-[1px] border-gray-200 group-hover:bg-blue-400 group-hover:text-white cursor-pointer transition-all ease-in-out duration-300">
                    Connect
                </button>
            </div>

            <!-- card 2 -->
            <div 
                class="w-[300px] h-[400px] flex flex-col items-center justify-center gap-6 rounded-md border-[1px] border-gray-200 bg-gray-50 group transition-all ease-in-out duration-300 hover:scale-110 hover:shadow-lg">
                <div 
                    class="w-[180px] h-[180px] rounded-full bg-gray-200 overflow-hidden">
                    <img 
                        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlciUyMHByb2ZpbGV8ZW58MHx8MHx8fDA%3D" 
                        alt="user profile"
                        class="w-full h-full object-cover">
                </div>
                <div 
                    class="flex flex-col items-center justify-center">
                    <h3
                        class="font-semibold text-[1.2rem] capitalize">Minh Panhchna </h3>
                    <p
                        class="text-[.8rem] text-gray-400">Sale Manager</p>
                </div>
                <button
                    class="px-8 py-2 rounded-md border-[1px] border-gray-200 group-hover:bg-blue-400 group-hover:text-white cursor-pointer transition-all ease-in-out duration-300">
                    Connect
                </button>
            </div>

            <!-- card 3 -->
            <div 
                class="w-[300px] h-[400px] flex flex-col items-center justify-center gap-6 rounded-md border-[1px] border-gray-200 bg-gray-50 group transition-all ease-in-out duration-300 hover:scale-110 hover:shadow-lg">
                <div 
                    class="w-[180px] h-[180px] rounded-full bg-gray-200 overflow-hidden">
                    <img 
                        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlciUyMHByb2ZpbGV8ZW58MHx8MHx8fDA%3D" 
                        alt="user profile"
                        class="w-full h-full object-cover">
                </div>
                <div 
                    class="flex flex-col items-center justify-center">
                    <h3
                        class="font-semibold text-[1.2rem] capitalize">Minh Panhchna </h3>
                    <p
                        class="text-[.8rem] text-gray-400">Sale Manager</p>
                </div>
                <button
                    class="px-8 py-2 rounded-md border-[1px] border-gray-200 group-hover:bg-blue-400 group-hover:text-white cursor-pointer transition-all ease-in-out duration-300">
                    Connect
                </button>
            </div>
        </div>
    </div>
</body>
</html>