<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/src/output.css" rel="stylesheet">
  <title>Cart</title>
</head>
<body>
  <div class="flex justify-center items-center gap-6">
        <div class="w-[350px] h-[400px] rounded-lg shadow-md mt-20 place-items-center ring-1 ring-slate-900/5 border-gray-200 bg-gray-50 group transition-all ease-in-out duration-300 hover:scale-110 hover:shadow-lg hover:bg-white" >
          <img class="rounded-full w-[130px] h-[130px] mt-15 shadow-2xl shadow-gray-5000/10" src="https://scontent.fpnh11-1.fna.fbcdn.net/v/t39.30808-6/472778412_575145155483993_6535911267143063507_n.jpg?stp=c0.148.736.736a_dst-jpg_s640x640_tt6&_nc_cat=109&ccb=1-7&_nc_sid=50ad20&_nc_eui2=AeETyNwYx0cGV3RFOjMkKFPDmGnnJLKvYFeYaecksq9gV63OsZzASoe-1fKO3EdEsLNj_B4clu52eeydguDUIHYD&_nc_ohc=6YTt9WvoCYIQ7kNvgEa_Xik&_nc_zt=23&_nc_ht=scontent.fpnh11-1.fna&_nc_gid=AGoqvLk752SgrwWbqJQQ2KK&oh=00_AYGF6Dbtq7qiOsSTtOaWJeRKXPdvHQO-beFS1tKI984dDg&oe=67D44541" alt="">
          <div class="mt-10 leading-7 text-center text-nowrap">
            <h3 class="font-bold text-xl">Minh Panhchna</h3>
            <p class="text-slate-500">Web Developer and designer</p>
          </div>
          <button class="py-2 px-5 text-slate-500 font-semibold rounded-md shadow-md hover:bg-violet-700 hover:text-white bg-white ring-2 ring-slate-900/13 shadow-lg mt-10">
            Contact Me
          </button>
        </div>
        <div class="w-[350px] h-[400px] rounded-lg shadow-md mt-20 place-items-center ring-1 ring-slate-900/5 border-gray-200 bg-gray-50 group transition-all ease-in-out duration-300 hover:scale-110 hover:shadow-lg hover:bg-white" >
          <img class="rounded-full w-[130px] h-[130px] mt-15 shadow-2xl shadow-gray-5000/10" src="https://scontent.fpnh11-1.fna.fbcdn.net/v/t39.30808-6/481279490_616695484662293_5698861137915240723_n.jpg?stp=c0.177.1080.1080a_dst-jpg_s640x640_tt6&_nc_cat=107&ccb=1-7&_nc_sid=50ad20&_nc_eui2=AeFbEUVdzA4p8fe_CeJeKGzzDUisbjmZdk0NSKxuOZl2TZRYENtARtsk6K9YEay5ojpeJ9wMwJT4f1t2AFNUcgLW&_nc_ohc=HH-EzPWFjecQ7kNvgEi-87g&_nc_zt=23&_nc_ht=scontent.fpnh11-1.fna&_nc_gid=AijTWux89a5Q3shboD-U_xD&oh=00_AYEiGRlljCnog_-kH-4UF5-JgHR0DsBuAmiBA2RXihOSBA&oe=67D447A3" alt="">
          <div class="mt-10 leading-7 text-center text-nowrap">
            <h3 class="font-bold text-xl">Minh Panhchna</h3>
            <p class="text-slate-500">Web Developer and designer</p>
          </div>
          <button class="py-2 px-5 text-slate-500 font-semibold rounded-md shadow-md hover:bg-violet-700 hover:text-white bg-white ring-2 ring-slate-900/13 shadow-lg mt-10">
            Contact Me
          </button>
        </div>
        <div class="w-[350px] h-[400px] rounded-lg shadow-md mt-20 place-items-center ring-1 ring-slate-900/5 border-gray-200 bg-gray-50 group transition-all ease-in-out duration-300 hover:scale-110 hover:shadow-lg hover:bg-white" >
          <img class="rounded-full w-[130px] h-[130px] mt-15 shadow-2xl shadow-gray-5000/10" src="https://scontent.fpnh11-1.fna.fbcdn.net/v/t39.30808-6/472778412_575145155483993_6535911267143063507_n.jpg?stp=c0.148.736.736a_dst-jpg_s640x640_tt6&_nc_cat=109&ccb=1-7&_nc_sid=50ad20&_nc_eui2=AeETyNwYx0cGV3RFOjMkKFPDmGnnJLKvYFeYaecksq9gV63OsZzASoe-1fKO3EdEsLNj_B4clu52eeydguDUIHYD&_nc_ohc=6YTt9WvoCYIQ7kNvgEa_Xik&_nc_zt=23&_nc_ht=scontent.fpnh11-1.fna&_nc_gid=AGoqvLk752SgrwWbqJQQ2KK&oh=00_AYGF6Dbtq7qiOsSTtOaWJeRKXPdvHQO-beFS1tKI984dDg&oe=67D44541" alt="">
          <div class="mt-10 leading-7 text-center text-nowrap">
            <h3 class="font-bold text-xl">Minh Panhchna</h3>
            <p class="text-slate-500">Web Developer and designer</p>
          </div>
          <button class="py-2 px-5 text-slate-500 font-semibold rounded-md shadow-md hover:bg-violet-700 hover:text-white bg-white ring-2 ring-slate-900/13 shadow-lg mt-10">
            Contact Me
          </button>
        </div>
        
    </div>
</body>
</html>
