<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../src/output.css">
</head>

<body>
    <div class="w-full h-[100vh] bg-white flex items-center justify-center">
        <div class="w-fit flex gap-3">
            <div
                class="w-[300px] h-[400px] flex flex-col items-center justify-center gap-6 rounded-md border-[1px] border-gray-200 bg-gray-50 group transition-all ease-in-out duration-300 hover:scale-110 hover:shadow-lg">
                <div class="w-[180px] h-[180px] rounded-full bg-gray-200 overflow-hidden">
                    <img src="https://i.pinimg.com/736x/f8/82/81/f882819bf10c1e594cc2f7817a00b1c5.jpg"
                        alt="user profile" class="w-full h-full object-cover">
                </div>
                <div class="flex flex-col items-center justify-center">
                    <h3 class="font-semibold text-[1.2rem] capitalize">Rath Vicheka</h3>
                    <p class="text-[.8rem] text-dark-400">Supervisor</p>
                </div>
                <button
                class="px-8 py-2 rounded-md border-[1px] border-gray-200 group-hover:bg-red-100 group-hover:text-dark-400 cursor-pointer transition-all ease-in-out duration-300">
                Connect
            </button>
            </div>

            <div
                class="w-[300px] h-[400px] flex flex-col items-center justify-center gap-6 rounded-md border-[1px] border-gray-200 bg-gray-50 group transition-all ease-in-out duration-300 hover:scale-110 hover:shadow-lg">
                <div class="w-[180px] h-[180px] rounded-full bg-gray-200 overflow-hidden">
                    <img src="https://i.pinimg.com/736x/f8/82/81/f882819bf10c1e594cc2f7817a00b1c5.jpg"
                        alt="user profile" class="w-full h-full object-cover">
                </div>
                <div class="flex flex-col items-center justify-center">
                    <h3 class="font-semibold text-[1.2rem] capitalize">Rath Vicheka</h3>
                    <p class="text-[.8rem] text-dark-400">Supervisor</p>
                </div>
                <button
                class="px-8 py-2 rounded-md border-[1px] border-gray-200 group-hover:bg-red-100 group-hover:text-dark-400 cursor-pointer transition-all ease-in-out duration-300">
                Connect
            </button>
            </div>

            <div
                class="w-[300px] h-[400px] flex flex-col items-center justify-center gap-6 rounded-md border-[1px] border-gray-200 bg-gray-50 group transition-all ease-in-out duration-300 hover:scale-110 hover:shadow-lg">
                <div class="w-[180px] h-[180px] rounded-full bg-gray-200 overflow-hidden">
                    <img src="https://i.pinimg.com/736x/f8/82/81/f882819bf10c1e594cc2f7817a00b1c5.jpg"
                        alt="user profile" class="w-full h-full object-cover">
                </div>
                <div class="flex flex-col items-center justify-center">
                    <h3 class="font-semibold text-[1.2rem] capitalize">Rath Vicheka</h3>
                    <p class="text-[.8rem] text-dark-400">Supervisor</p>
                </div>
                <button
                    class="px-8 py-2 rounded-md border-[1px] border-gray-200 group-hover:bg-red-100 group-hover:text-dark-400 cursor-pointer transition-all ease-in-out duration-300">
                    Connect
                </button>
            </div>
        </div>
    </div>

</body>

</html>