<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/output.css">
    <title>Card</title>
</head>

<body>
    <div class="w-full h-[100vh] flex items-center justify-center gap-6">
        <div
            class="w-[300px] h-[400px] rounded-lg shadow-md place-items-center border-gray-200 py-8 group transition-all ease-in-out duration-300 hover:scale-110 hover:shadow-lg">
            <img src="https://preview.redd.it/milr969373561.jpg?width=640&crop=smart&auto=webp&s=0489105bbefd3decd68950da2334507dc25490fe"
                class="rounded-full w-[120px] h-[120px]">
            <div class="my-8 py-6">
                <h3 class="font-bold ">Yoeng Amra</h3>
                <p>Hello everyone</p>
            </div>
            <button
                class="text-slate-500 rounded-lg border-[1px] shadow-md px-4 py-2 ease-in-out duration-300 hover:scale-110 hover:shadow-lg hover:bg-blue-300"
                type="submit">Contact Me</button>


        </div>
        <div
            class="w-[300px] h-[400px] rounded-lg shadow-md place-items-center border-gray-200 py-8 group transition-all ease-in-out duration-300 hover:scale-110 hover:shadow-lg">
            <img src="https://preview.redd.it/milr969373561.jpg?width=640&crop=smart&auto=webp&s=0489105bbefd3decd68950da2334507dc25490fe"
                class="rounded-full w-[120px] h-[120px]">
            <div class="my-8 py-6">
                <h3 class="font-bold ">Yoeng Amra</h3>
                <p>Hello everyone</p>
            </div>
            <button
                class="text-slate-500 rounded-lg border-[1px] shadow-md px-4 py-2 ease-in-out duration-300 hover:scale-110 hover:shadow-lg hover:bg-blue-300"
                type="submit">Contact Me</button>


        </div>
        <div
            class="w-[300px] h-[400px] rounded-lg shadow-md place-items-center border-gray-200 py-8 group transition-all ease-in-out duration-300 hover:scale-110 hover:shadow-lg">
            <img src="https://preview.redd.it/milr969373561.jpg?width=640&crop=smart&auto=webp&s=0489105bbefd3decd68950da2334507dc25490fe"
                class="rounded-full w-[120px] h-[120px]">
            <div class="my-8 py-6">
                <h3 class="font-bold ">Yoeng Amra</h3>
                <p class="text-[.8rem] text-gray-400">Hello everyone</p>
            </div>
            <button
                class="text-slate-500 rounded-lg border-[1px] shadow-md px-4 py-2 ease-in-out duration-300 hover:scale-110 hover:shadow-lg hover:bg-blue-300"
                type="submit">Contact Me</button>


        </div>

    </div>
</body>

</html>